html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#gen-fit {
  margin: 30 auto 0 auto;
  width: 70%;
  padding: 10;
  display: flex;
  flex-direction: row;

  border: 1px solid #000;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 200, 200);
  border-right: 1px solid #000;
}

#gen-fit > * {
  margin: 0 0.4rem;
  padding: 0.4rem;
}

h1,
h2,
label {
  color: #000000;
  font-size: larger;
  text-align: center;
  margin-right: 2rem;
}

#rowInputs {
  background-color: rgb(200, 200, 200);
  height: fit-content;
  border-right: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;
  width: fit-content;
}

#rowInputs > * {
  width: fit-content;
}

#rowInputs > label {
  margin: 1rem 0rem 0rem 0rem;
  color: #000;
  font-size: larger;
}

#safeZone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#safeZones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#safeZone > * {
  margin: 1rem 0rem 0rem 0rem;
  width: fit-content;
  color: #000;
  font-size: larger;
}

input {
  background-color: #000;
  color: #fff;
}

input[type="range"] {
  -webkit-appearance: slider-vertical;
}

button {
  background-color: #883232;
  color: #fff;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto;
}
